Repository nerubisuk/greatguides: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

testing linter
  .lintstagedrc
  package.json
  src/styles/base.scss
  src/utils/auth.js
Due: eslint --fix, prettier --write, stylelint --fix

testing linting
  .lintstagedrc
  src/styles/base.scss
Due: prettier --write, stylelint --fix

test linting
  src/styles/base.scss
Due: prettier --write, stylelint --fix

Test linting
  src/styles/pages/Adventure.module.scss
Due: prettier --write, stylelint --fix

test linters
  .lintstagedrc
  src/styles/pages/Adventure.module.scss
Due: prettier --write, stylelint --fix

testin linter
  .lintstagedrc
  src/styles/pages/Adventure.module.scss
Due: prettier --write, stylelint --fix

Test linters
  .lintstagedrc
  src/styles/pages/Adventure.module.scss
Due: prettier --write, stylelint --fix

Test linters
  src/styles/pages/Adventure.module.scss
Due: prettier --write, stylelint --fix

Adds linters
  .lintstagedrc
  package.json
Due: none

Fixes linters errors
  src/utils/auth.js
Due: eslint --fix, prettier --write

Adds prepush hook
  package.json
Due: none

Fixes linter errors
  src/styles/base.scss
Due: prettier --write, stylelint --fix

Fixes styling rules
  src/styles/pages/Adventure.module.scss
Due: prettier --write, stylelint --fix

improves stylint rules
  .stylelintrc.json
Due: none

Test linters
  src/styles/components/DepartureDates.module.scss
Due: prettier --write, stylelint --fix

Removes linting errors
  src/styles/components/DepartureDates.module.scss
Due: prettier --write, stylelint --fix

Changes stylint rules
  .stylelintrc.json
Due: none

Adds more styleint options
  .stylelintrc.json
Due: none

Disable classname checks
  .stylelintrc.json
Due: none

Disables class pattern option
  .stylelintrc.json
Due: none

Adds reset.css to ignoring files
  .stylelintignore
Due: none

Fixing stylelint errors
  src/styles/components/Header.module.scss
Due: prettier --write, stylelint --fix

Adds ability to ignore node_modules
  .lintstagedrc
Due: none

Changes linting
  package.json
Due: none

Adds prettier ignore
  .prettierignore
  package.json
Due: none

Changes ignoring pattern
  .prettierignore
Due: none

Adds ignoring folders
  .eslintignore
  .prettierignore
  .stylelintignore
Due: none

Adds ignores
  package.json
Due: none

Ignores
  .prettierignore
Due: none

ignores
  package.json
Due: none

Ignores
  package.json
Due: none

Adds prettier check to lint command
  package.json
Due: none

Fixes linter errors
  package.json
  src/App.js
  src/components/AdventureCard.js
  src/components/Callback.js
  src/components/DepartureDates.js
  src/components/Footer.js
  src/components/Header.js
  src/components/Icon.js
  src/components/PhotoSlider.js
  src/components/Routes.js
  src/components/TourDescription.js
  src/index.js
  src/layouts/Main.js
  src/mocks/adventures.json
  src/pages/Adventure.js
  src/serviceWorker.js
  src/styles/components/AdventureCard.module.scss
  src/styles/components/Footer.module.scss
  src/styles/components/PhotoSlider.module.scss
  src/styles/components/TourDescription.module.scss
  src/styles/helpers/reset.scss
  src/styles/helpers/transitions.scss
  src/utils/matchMedia.js
Due: eslint --fix, prettier --write, stylelint --fix

Modifies linter options
  package.json
Due: none

Fixes linter errors
  .prettierrc
  src/App.js
  src/index.js
  src/serviceWorker.js
Due: eslint --fix, prettier --write

Fixes eslint errors
  package.json
  src/components/CarryThings.js
  src/components/Header.js
  src/components/Icon.js
  src/components/PhotoSlider.js
  src/components/TourDescription.js
  src/utils/auth.js
Due: eslint --fix, prettier --write

Fixes linter errors
  .prettierrc
Due: none

Fixes linter errors
  .eslintrc.json
  .prettierrc
  src/components/AdventureCard.js
  src/components/Callback.js
  src/components/CarryThings.js
  src/components/DepartureDates.js
  src/components/Footer.js
  src/components/Header.js
  src/components/PhotoSlider.js
  src/components/Routes.js
  src/config/auth0.js
  src/pages/Adventure.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.js
  prettier --write: (any of: src/**/*.js) or (any of: src/**/*.scss)
  stylelint --fix: any of: src/**/*.scss
